.reset-password-card {
  display: flex;
  border: 0.0625rem solid #ccc; 
  border-radius: 0.5rem; 
  box-shadow: 0 0.125rem 0.625rem rgba(0, 0, 0, 0.1);
  max-width: 75rem; 
  max-height: 43.75rem; 
  margin: 5rem auto;
  overflow: hidden;
}

.reset-password-form-heading2 {
  color: whitesmoke;
  text-align: center;
}

.reset-password-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

.reset-password-image img {
  max-width: 100%;
  height: auto;
}

.reset-password-form {
  flex: 1;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.reset-password-form-inputs {
  margin: 0.625rem auto;
  padding: 0.625rem; 
  border: 0.0625rem solid #ccc; 
  border-radius: 0.5625rem; 
  text-align: center;
  width: 20rem;
  min-height: 2.75rem;
  font-size: 1.2rem;
}

.reset-password-form-button {
  margin: 0.625rem auto; 
  padding: 0.625rem; 
  border: none;
  border-radius: 0.5625rem; 
  background-color: rgb(3, 7, 60);
  color: white;
  cursor: pointer;
  width: 20rem;
  min-height: 2.75rem;
}

.reset-password-form-button:hover {
  background-color: black;
}

.reset-password-error-message {
  color: red;
  text-align: center;
}

.bottom-info {
  color: whitesmoke;
  width: 20rem;
  margin: 1.25rem auto; 
  text-align: center;
}

.terms-and-conditions,
.privacy-policy {
  font-weight: bold;
}

.terms-and-conditions:hover,
.privacy-policy:hover {
  font-weight: bold;
  cursor: pointer;
  color: blue;
}

@media (max-width: 480px) { 
  .reset-password-card {
    flex-direction: column;
    max-width: 100%;
    margin: 2rem;
  }

  .reset-password-form-inputs,
  .reset-password-form-button,
  .bottom-info {
    width: 90%;
  }
}

@media (min-width: 481px ) and (max-width: 768px ) { 
  .reset-password-card {
    flex-direction: column;
    max-width: 90%;
    margin: 5rem auto;
  }

  .reset-password-form-inputs,
  .reset-password-form-button,
  .bottom-info {
    width: 80%;
  }
}

@media (min-width: 769px ) and (max-width: 1200px ) { 
  .reset-password-card {
    flex-direction: row;
    margin: 5rem auto;
  }

  .reset-password-form-inputs,
  .reset-password-form-button,
  .bottom-info {
    width: 70%;
  }
}

@media (min-width: 1201px ) {
  .reset-password-card {
    flex-direction: row;
  }

  .reset-password-form-inputs,
  .reset-password-form-button,
  .bottom-info {
    width: 20rem;
  }
}
